header {

    margin-block-end: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgb(1, 1, 75);
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-block-end: 20px;
}

#h {

    text-align: center;
    height: 40px;
    color: #FFF;
    margin-top: 15px;
    margin-block-end: 15px;
}



body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(47, 47, 49);
}

#button {
    color: #FFF;
    background-color: rgb(14, 161, 14);
    border: 0px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
}
#add{
    color: #FFF;
    background-color: rgb(14, 161, 14);
    border: 0px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
}
#sobre {
    margin: auto;
    margin-block-end: 20px;
    width: 85%;
    border-color: rgb(11, 17, 11);
}

#criar {

    margin-top: 150px;
    margin: auto;
    text-align: center;
    width: 85%;
    border-color: rgb(11, 17, 11);
}



fieldset {
    border-radius: 10px;
    background-color: rgb(11, 17, 11);
}

footer {

    margin-top: 20px;
    border-radius: 15px;
    margin: auto;
    background-color: rgb(1, 1, 75);
    padding-block-end: 15px;
}

#foot {

    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
}

#pritext {

    border-color: rgb(11, 17, 11);
    margin-top: 150px;
    margin: auto;
    margin-block-end: 20px;
    text-align: center;
    width: 85%;
}

#text {
    font-weight: 300cm;
    color: rgb(255, 255, 255);
    font-size: 0.5cm;
}

#form {
    margin-block-end: 20px;
    color: rgb(255, 255, 255);
    font-size: 0.5cm;
    text-align: center;
}

#forme {
    margin: auto;
    border-color: rgb(1, 1, 75);
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-block-end: 20px;
    background-color: rgb(1, 1, 75);
    width: 55%;
}

#im {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 13px;
    align-items: center;
    text-align: center;
}